<div class="fixed-bottom text-center" style="background-color: #e3f2fd;">
  <ul class="nav justify-content-center">
    <li>
      <a href="https://www.facebook.com/richard.fuentes.369/" target="_blank">
        <img src="../../../assets/img/redes/facebook.png" style="height: 1rem; width: 1rem;" alt="">
      </a>
    </li>
    <li>
      <a href="https://api.whatsapp.com/send?phone=573504284093" target="_blank">
        <img src="../../../assets/img/redes/whatsapp.png" style="height: 1rem; width: 1rem;" alt="">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/javierbaronf/" target="_blank">
        <img src="../../../assets/img/redes/linkedin.png" style="height: 1rem; width: 1rem;" alt="">
      </a>
    </li>
  </ul>
  &#169;{{copyrigth}}
</div>
