<div id="content-scroll-area">
  <footer class="sticky-footer bg-white shadow-lg mt-auto">
    <div class="container my-auto">
      <div class="text-center">
        <a href="https://api.whatsapp.com/send?phone=573504284093" target="_blank">
          <img src="./assets/img/redes/whatsapp.png" style="height: 1rem; width: 1rem;" alt="">
        </a>
        <a href="https://www.linkedin.com/in/javier-ricardo-baron-fuentes-79295534b/" target="_blank">
          <img src="./assets/img/redes/linkedin.png" style="height: 1rem; width: 1rem;" alt="">
        </a>
      </div>
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; {{year}}</span>
      </div>
    </div>
  </footer>
</div>
