<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="claseActiva"
          >
            Sobre m&iacute;
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/cursos"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            routerLinkActive="claseActiva"
          >
            Cursos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/hobbie"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            routerLinkActive="claseActiva"
          >
            Hobbies
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/lenguajes"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            routerLinkActive="claseActiva"
          >
            Lenguajes
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/proyectos"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            routerLinkActive="claseActiva"
          >
            Proyectos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/trabajos"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            routerLinkActive="claseActiva"
          >
            Trabajos
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
