<div id="content-scroll-area">
  <div class="card" style="box-shadow: 7px 7px 15px #592A08; height: 100%;">
    <div class="card-body">
      <div class="col-sm-12 row">
        <div class="col-sm-6 text-center mb-4">
          <div class="col-sm-12">
            <img class="img-thumbnail photo-presentacion" src="./assets/img/me.jpeg" alt="">
          </div>
          <div class="col-sm-12">
            <a href="https://drive.google.com/file/d/11c4H6jIS-mwIqQHQSfR2VpHPg4XKFaDP/view?usp=drive_link"
              target="_blank">Hoja de vida</a>
          </div>
          <div class="col-sm-12">
            <a href="https://api.whatsapp.com/send?phone=573504284093" target="_blank">WhatsApp</a>
          </div>
          <div class="col-sm-12">
            <a href="https://www.linkedin.com/in/javier-ricardo-baron-fuentes-79295534b/" target="_blank">LinkedIn</a>
          </div>
          <div class="col-sm-12">
            <a href="https://github.com/RichardFuentes369" target="_blank">GitHub</a>
          </div>
          <div class="col-sm-12">
            <a href="https://drive.google.com/file/d/1-JA5IsUy6woEotWihQ_shPUWVq7EkXCB/view?usp=sharing"
              target="_blank">Cv</a>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="">
            Mi nombre es Javier Ricardo Baron Fuentes y en la actualidad tengo {{calcularEdad()}} años.
          </p>

          <p class="">
            Soy un desarrollador de sistemas con experiencia en transformar ideas complejas en software funcional y
            eficiente.

            Mi enfoque principal es crear soluciones robustas y escalables que impulsen el crecimiento y la optimización
            de negocios, integrando buenas practicas
            y soluciones eficientes en base a la necesidades o problemas que se presenten.
            Ademas de ello me especializo en la construcción de paginas web (spa,mpa), desarrollos de enpoint
            consumibles y la creación de ecosistemas amigables generando
            una buena experiencia de usuario.

            Del desarrollo de software me gusta y me apasióna tanto el backend como el frontend en conjunto con la base
            de datos y el analisis de los mismos.

            Estoy comprometido con la entrega de código de alta calidad, garantizando mi desarrollo estando dispuesto a
            colaborar, soluciónando bugs o ayudando a mis compañeros a solucionar
            problemas para así lograr satisfaser las necesidades del cliente.
          </p>

          <p class="">
            Entre los trabajos en los cuales e participado puedo mencionar que e logrado aprender y poner en practica
            arquitecturas limpias, desarrollo de chatbots, aprovechamiento de flujos de procesos,
            generacion de plantillas, desarrollo de interfaces, soluciones escalables, conexion de enpoint con terceros
            como pasarelas de pagos o envio masivo de correos y muchas otras cosas...

            En mi ultima experiencia laboral, fui el encargado de desarrollar un modulo completo desde su creación hasta
            su entrega final. Acompañando al cliente desde el levantamiento de requerimienos, desarrollo
            y puesta en marcha. Logrando entregar una solución optima y satisfactoria para el cliente.
          </p>

          <p class="">
            En lo academico, soy tecnologo en desarrollo de sistemas informaticos de las Unidades Tecnologicas de
            Santander (UTS). Actualmente me encuentro culminando mi ciclo de ingenieria cursando 10 semestre luego de 4
            años de experiencia laboral.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4 mb-2 m-2" style="box-shadow: 7px 7px 15px #592A08; height: 100%;">
    <div class="card-header">
      <h3>Experiencia</h3>
    </div>
  </div>
  <div class="card mb-2 m-2" style="box-shadow: 7px 7px 15px #592A08; height: 100%;">
    <div class="card-body text-center">
      <div class="linea-tiempo">
        <div *ngFor="let item of Trabajos" class="momento">
          <h3>{{item.temporada}}</h3>
          <div class="descripcion">
            {{item.empresa}} <br> {{item.periodo}} <br> {{item.tiempo}}
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>