<div class="mt-4 container">

    <div class="card mt-4 mb-2 m-2" style="box-shadow: 7px 7px 15px #592A08; height: 100%;">
        <div class="card-header">
            <h3>Sobre m&iacute;</h3>
        </div>
    </div>
    <div class="card mb-2 m-2" style="box-shadow: 7px 7px 15px #592A08; height: 100%;">
        <div class="card-body">

            <div class="col-sm-12 row">
                <div class="col-sm-6 text-center mb-4">
                    <div class="col-sm-12">
                        <img class="img-thumbnail photo-presentacion" src="./assets/img/me.jpg" alt="">
                    </div>
                    <div class="col-sm-12">
                        <a href="https://drive.google.com/file/d/1HtM3rrULv3iuOpANfDCnW9GOEBmk_0Nk/view?usp=drive_link" target="_blank">Hoja de vida</a>
                    </div>
                    <div class="col-sm-12">
                        <a href="https://api.whatsapp.com/send?phone=573504284093" target="_blank">WhatsApp</a>
                    </div>
                    <div class="col-sm-12">
                        <a href="https://www.linkedin.com/in/javierbaronf/?originalSubdomain=co" target="_blank">LinkedIn</a>
                    </div>
                    <div class="col-sm-12">
                        <a href="https://github.com/RichardFuentes369" target="_blank">GitHub</a>
                    </div>
                    <div class="col-sm-12">
                        <a href="https://drive.google.com/file/d/1RYytAb-OWJW3A2kMYosWYGwNgdjtDbVA/view?usp=drive_link" target="_blank">Cv</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <p class="">
                        Mi nombre es Javier Ricardo Baron Fuentes y en la actualidad tengo {{calcularEdad()}} años.
                    </p>

                    <p class="">
                        Soy egresado de las Unidades Tecnologicas de Santander (UTS), con el grado de Tecnologo en desarrollo de sistemas informatios. Luego de obtener mi titulo empece a buscar trabajo encasillandome en el desarrollo de software web como frontend y backend usando
                        lenguajes populares como lo son php, jquery, node, hojas de estilo como css, boostrap y motores de bases de datos como postgresql y mysql.
                    </p>

                    <p class="">
                        Sin embargo con el fin de ampliar mi conocimiento, constantemente me encuentro aprendiendo cada dia mas de las tecnologias que manejo, aprovechando cada reto que se me cruce por mi camino.
                    </p>

                    <p class="">
                        Me desempeño muy bien trabajando en equipo ya que aunque puedo manejar varias cosas a la vez, siempre es bueno contar con la experiencia de alguien mas la cual nutre y nos ayuda a sacar las cosas mas rapido y con la certeza de que podran salir bien ya
                        que cada rol en un desarrollo es importante para que los proyectos fluyan. <br> Me considero buen compañero de trabajo ya que hasta el momento no e tenido ningun tipo de problemas con nadie, por el contrario
                        trato de ayudar al equipo a resolver los problemas que se les presenten siempre y cuando esten a mi alcanse. Y si estas no estan a mi alcanse siempre me gusta saber como fue la soluci&oacute;n por si depronto se me presenta el
                        problema a mi o si depronto le puedo colaborar a otro compañero en un futuro.
                    </p>

                    <p class="">
                        Me considero una persona honesta, responsable y comprometida con cada reto que se me ponga, llegando a aprender y proponer cosas que puedan fluir con los requerimientos.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4 mb-2 m-2" style="box-shadow: 7px 7px 15px #592A08; height: 100%;">
        <div class="card-header">
            <h3>Experiencia</h3>
        </div>
    </div>
    <div class="card mb-2 m-2" style="box-shadow: 7px 7px 15px #592A08; height: 100%;">
        <div class="card-body text-center">
            <div class="linea-tiempo">
                <div *ngFor="let item of Trabajos" class="momento">
                    <h3>{{item.temporada}}</h3>
                    <div class="descripcion">
                        {{item.empresa}} <br> {{item.periodo}} <br> {{item.tiempo}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
