.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden; 
}

#content-scroll-area {
  flex: 1;               
  overflow-y: auto;      
  background-color: #f8f9fc;
  -webkit-overflow-scrolling: touch;
}

.linea-tiempo {
  position: relative;
  max-width: 95vw;
  margin: 0 auto;
  font-family: Arial;
}

.linea-tiempo::before {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #000;
  left: 50%;
  height: 100%;
  border-radius: 10px;
}

.momento {
  position: relative;
  width: 45%;
  margin-bottom: 20px;
}

.momento:nth-child(even) {
  left: 55%;
}


.photo-presentacion {
  border-radius: 50%;
  height: 17rem !important;
  width: 16rem !important;
  object-fit: cover; 
}

.card {
  box-shadow: 7px 7px 15px #592A08;
}