<div>
  <div class="" *ngFor="let Participacion of Proyectos">

    <div class="card m-2 p-4" style="box-shadow: 7px 7px 15px #592A08; height: 100%;">
      <div class="row">
        <div class="col-md-4 text-center" *ngFor="let proyecto of Participacion.proyectos">
          <div class="card mt-4 mb-4">
            <div class="card-body">
              <h5 class="card-title">{{proyecto.name}}</h5>

              <div class="card-body">
                <textarea class="form-control" style="resize: none;" cols="20" rows="6" readonly>{{proyecto.descripction}}</textarea>
              </div>

              <div class="card-footer">
                <div class="col-sm-12 row">
                  <div class="mr-2 ml-1" *ngFor="let lenguaje of proyecto.lenguajes">
                    <i class="fab " [class] = "lenguaje.icon"  [title]="lenguaje.name"></i>
                  </div>
                </div>
                <a class="btn btn-sm btn-primary mt-2" [href]="proyecto.repositorio" target="_blank">Ir a</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
