<div class="mt-4 container">

  <div class="col-md-12 row">
    <div class="col-md-4 text-center"  *ngFor="let item of Cursos">
      <div class="card m-2">
        <div class="">
          <img class="card-img-top" src="../../../favicon.ico" alt="Card image cap" style="height: 5rem; width: 5rem;">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="">
            <div class="p-2">
              <button class="btn btn-sm btn-primary">Mi primer diploma</button>
            </div>
            <div class="p-2">
              <button class="btn btn-sm btn-primary">Mi primer diploma</button>
            </div>
            <div class="p-2">
              <button class="btn btn-sm btn-primary">Mi primer diploma</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
